<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535865020467-i17eoh7i4ig4bbk80fts3u9ecp43ovtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535865020467-i17eoh7i4ig4bbk80fts3u9ecp43ovtv</string>
	<key>API_KEY</key>
	<string>AIzaSyAy0qFCLBq0RTeRq3HkiHThe2rFYtesI6s</string>
	<key>GCM_SENDER_ID</key>
	<string>535865020467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstoneApp</string>
	<key>PROJECT_ID</key>
	<string>alphaprototy</string>
	<key>STORAGE_BUCKET</key>
	<string>alphaprototy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:535865020467:ios:0dd87b59dc4400957a1346</string>
	<key>DATABASE_URL</key>
	<string>https://alphaprototy-default-rtdb.firebaseio.com</string>
</dict>
</plist>
